<h3>{{ i18n "stats" }}</h3>
<a href="https://visitor-badge.glitch.me/" target="_blank" rel="noreferrer noopener" class="btn-badge">
  <img src="https://visitor-badge.glitch.me/badge?page_id={{ .Permalink }}&left_color=%237A7A7A" alt="Views"/>
</a>
<a href="https://hits.seeyoufarm.com" target="_blank" rel="noreferrer noopener" class="btn-badge">
  <img src="https://hits.seeyoufarm.com/api/count/incr/badge.svg?url={{ .Permalink }}&title_bg=%237A7A7A&title=hoy+%2F+total"/>
</a>
<br />
<p class="small">
  {{  i18n "stats-text" }}
</p>
